// Widescreens
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4,1fr);

    }
}

// Desktops & Laptops
@include mediaLg{

}

// Tablets & Small Laptops
@include mediaMd{
    main#home,
    main#about,
    main#work,
    main#contact{
        align-items: center;
        text-align: center;
        padding: 1rem;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
           
        }
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        font-size: 24px;
        transform: translate3d(-100%,0,0);
        justify-content: flex-start;
        padding-top: 1rem;
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0 ,0);
        padding-bottom: 2rem;
        justify-content: flex-end;
        .portrait{
            background: url(../img/1575023250192-small.jpg);
            width: 150px;
            height: 150px;
        }
    }
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }
    .projects{
        grid-template-columns: repeat(2,1fr);

    }
}

// Smartphones
@include mediaSm{
    main{
        &#home .lg-heading,
        &#about .lg-heading,
        &#work .lg-heading,
        &#contact .lg-heading{
            margin-top: 7vh;
            font-size: 4rem;
            overflow: hidden;
    
        }


    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0 ,0);
        color: red;
        padding-bottom: 2rem;
        justify-content: flex-end;

        .portrait{
            background: url(../img/1575023250192-small.jpg);
            width: 130px;
            height: 130px;
            background-position-x: 40%;
        }
    }
    .menu-nav{
        justify-content: flex-start;
        padding-top: 1rem;

    }

    .projects{
        grid-template-columns: 1fr;
    }

    .boxes{
        div{
            font-size: 1rem;
            padding: .8rem 2rem 1rem 2rem;
    
            &:hover{
                padding: 0.2rem 1.2rem 0.5rem 1.2rem;
                
            }
        }
    
    }
}